h2{
  max-width: 10%;
    text-decoration: none;
    position: relative;
}
h2:after  {
    content: "";
    border-bottom: 0.5em solid rgba(199, 231, 231, 0.6);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0.4em;
    z-index:-999;
}
h3{
  @extend h2;
  max-width: 55%;
}
.right-h3{
  @extend h2;
  max-width: 50%;
  font-family: 'Inconsolata', monospace;
  font-size: 1em;
  font-weight: 200;
}
