

.parallex1 {
    /* The image used */
    background-image: url("../img/begin_website.jpg");

    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    -webkit-clip-path: polygon(0 0, 1600px 0, 1600px 87%, 0 100%);
    clip-path: polygon(0 0, 1600px 0, 1600px 87%, 0 100%);

    // -webkit-transform: skewY(-5deg);
    // -moz-transform: skewY(-5deg);
    // -ms-transform: skewY(-5deg);
    //-o-transform: skewY(-5deg);
    // transform: skewY(-5deg);
}
.parallex2{
  @extend .parallex1;

  background-image: url("../img/budapest.jpg");
}
.parallex3{
  @extend .parallex1;

  background-image: url("../img/bloemen.jpg");
}
.parallex4{
  @extend .parallex1;

  background-image: url("../img/1_7.jpg");
}

.scrollButton{
color: _pallete(fg-nav);
width: 40%;
margin-top: 55vh;
margin-left: 40%;
float: left;
font-size: 3em;
border-bottom-color: transparent;
a{
  border-bottom: none;
  color: white;
}
 i{
   margin-left: 23.5%;
 }
}
.paralex{
  -webkit-clip-path: polygon(0 12%, 100% 0%, 100% 100%, 0 88%);
  clip-path: polygon(0 12%, 100% 0%, 100% 100%, 0 88%);
}
.paralex-odd{
  -webkit-clip-path: polygon(0 0, 100% 12%, 100% 88%, 0 100%);
  clip-path: polygon(0 0, 100% 12%, 100% 88%, 0 100%);
}
