.formulier{
  margin-left: 10%;
  width: 30%;
}

.submit-button{
  float: right;
  background-color: rgba(199, 231, 231, 1);
  border: none;
  color: #fff;
  width: 25%;
  height: 10%;
}
input{
  // float: right;
}
input{
  width: 61%;
}
.move-right{
  margin-left: 21%;
}
