.formulier{
  margin-left: 10%;
  width: 40%;
  margin-right: 0%;
  float: left;
  // margin-right: 10%;
  border-right: 1px solid #C7FDE7;
}

.submit-button{
  float: right;
  background-color: rgba(199, 231, 231, 1);
  border: none;
  color: #fff;
  width: 25%;
  height: 10%;
  margin-right: 25%;
}
input{
  // float: right;
}
input{
  width: 46%;
}
.move-right{
  margin-left: 15.8%;
}
.contactgegevens{
  float: right;
  width: 40%;
}
