nav{
  z-index: 99;
  width: 50%;
  display: block;
  margin: 0 auto;
  ul{
    list-style-type: none;
    li{
      color: _palette(bg);
      float: left;
      padding: 2.5%;
    }
  }
}

.scrollButton{
color: _pallete(fg-nav);
width: 40%;
margin-top: 60vh;
margin-left: 40%;
float: left;
font-size: 3em;
border-bottom-color: transparent;
-webkit-transform: skewY(5deg);
-moz-transform: skewY(5deg);
-ms-transform: skewY(5deg);
//-o-transform: skewY(-5deg);
transform: skewY(5deg);
 i{
   margin-left: 23.5%;
 }
}
